<h2>Add Pet page</h2>

<form action="/addPet" method="POST" id="addPet-form">
    <label for="petId">Pet Id</label>
    <input id="petId" type="text" name="petId" placeholder="petId" />

    <label for="name">Pet Name</label>
    <input id="name" type="text" name="name" placeholder="name" />

    <button type="submit">Submit</button>
</form>
<br>
<a href="./main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

