<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pet Adoption</title>
    <link rel="stylesheet" href="/public/main_style.css">
</head>

<body>
    <header>
        <h1>Adopt a Pet</h1>
    </header>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        <p class="footerClass">Author: Group 43 </p>
      
    </footer>

</body>

</html>
