<h2>Authenticated User</h2>
<p>UserId: {{userId}}</p>

<br>
<a href="/profile">Click Here to edit Profile</a>
<br>
<a href="/addPayment/0">Click Here to add a Payment</a>
<br>
<a href="/searchPet">Click Here to search for a Pet</a>
<br>
<a href="/showOrders">Click Here to show Orders</a>
<br>
<br>
<a href="/logout">Click Here to Log Out</a>
<br><br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}
