<h2>Select Order List page</h2>

<ul class="orderList"></ul>
{{#each orderArray}}
	<li>
		<a href="./selectOrder/{{this}} ">Click for Order {{this}}</a>
	</li>
{{/each}}
</ul>


<br>
<a href="/main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

